syntax: glob
*~
*.o
*.o.d
*.lo
*.Po
*.Plo
*\#*
*.DS_Store
Makefile
/Makefile.in
*.class
*.so*
*.a
*.la
*.lai
*.jar
*.orig
*.dex
.classpath
.project
R.java
.settings
local.properties
doc/api/*
autom4te.cache
macosx/build
*pbxuser*
NEWS
config.guess
/config.h
/config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/bbs/hagglebbs
src/client/hagglecli
src/clitool/clitool
src/filedrop/filedrop
src/hagglekernel/Doxyfile
src/hagglekernel/ProtocolRFCOMMMacOSX.cpp
src/hagglekernel/haggle
src/libcpphaggle/Doxyfile
src/libhaggle/Doxyfile
src/libhaggle/jni/classes.list
src/libhaggle/jni/sources.list
src/libhaggle/jni/java/org/haggle/classnoinst.stamp
src/logcollector/logcollector
src/luckyMe/luckyMe
src/proxy/hagglepop
src/proxy/haggleproxy
src/proxy/hagglesmtp
src/proxy/mmpd
src/tests/test01/test1
src/webserver/webserver
stamp-h1
testsuite/test_Queue/blockingtest
testsuite/test_Queue/cancelonqueue
testsuite/test_Queue/createtest
testsuite/test_Queue/nonblockingtest
testsuite/test_Queue/timeouttest
testsuite/test_Queue/waitforsocket
testsuite/test_condition/break
testsuite/test_condition/broadcast
testsuite/test_condition/cancelthreadoncondition
testsuite/test_condition/condstate
testsuite/test_condition/createcondition
testsuite/test_condition/signal
testsuite/test_condition/trycondition
testsuite/test_condition/unique
testsuite/test_condition/unlockedmutex
testsuite/test_dObj/getputData
testsuite/test_kernel/hagglemain
testsuite/test_kernel/largedo
testsuite/test_kernel/multipleapp
testsuite/test_kernel/singleapp
testsuite/test_libcpphaggle/newlist
testsuite/test_libcpphaggle/newmap
testsuite/test_libcpphaggle/refcount
testsuite/test_libcpphaggle/stringimpl
testsuite/test_libcpphaggle/timeval
testsuite/test_metadata/metadata
testsuite/test_mutex/binary
testsuite/test_mutex/cancelonmutex
testsuite/test_mutex/createmutex
testsuite/test_mutex/isunlocked
testsuite/test_mutex/lock
testsuite/test_mutex/recursive
testsuite/test_mutex/trylock
testsuite/test_security/certificate
testsuite/test_thread/cancelthread
testsuite/test_thread/cancelthreadsocket
testsuite/test_thread/createthread
testsuite/test_thread/jointhread
testsuite/test_thread/stackmanagement
testsuite/test_thread/stopthread
testsuite/test_utils/bloom
testsuite/test_utils/bloom_count
testsuite/test_utils/shatest
testsuite/test_utils/test64
*.ncb
*.suo
*.vcproj.*
*.csproj.*
Windows Mobile * SDK (ARMV4I)
windows/Haggle/Debug/
windows/Haggle/Haggle/Debug
windows/MailProxy/Debug
windows/MailProxy/MailProxy/Debug
windows/OpenSSL/Crypto/Debug
windows/WebServer/Debug
windows/WebServer/WebServer/Debug
windows/haggleutils/haggleutils/Debug
windows/libcpphaggle/Debug
windows/libhaggle/libhaggle/Debug
windows/libxml2/libxml2/Debug
windows/sqlite3/sqlite3/Debug
winmobile/Haggle/Haggle.aps
winmobile/HaggleInstaller/Debug*
winmobile/LibHaggleCS/obj
winmobile/PhotoShare/obj
android/extlibs/.ndkconfig
android/extlibs/external
###
extlibs/sqlite-3.7.0.1/Makefile.in
testsuite/Makefile.in
testsuite/test_metadata/Makefile.in
testsuite/test_thread/Makefile.in
testsuite/test_condition/Makefile.in
testsuite/test_utils/Makefile.in
testsuite/test_kernel/Makefile.in
testsuite/test_Queue/Makefile.in
testsuite/test_mutex/Makefile.in
testsuite/test_libcpphaggle/Makefile.in
testsuite/test_dObj/Makefile.in
testsuite/test_security/Makefile.in
src/libcpphaggle/Makefile.in
src/luckyMe/Makefile.in
src/Makefile.in
src/repltest/Makefile.in
src/bbs/Makefile.in
src/libhaggle/Makefile.in
src/libhaggle/jni/Makefile.in
src/libhaggle/jni/native/Makefile.in
src/libhaggle/jni/java/org/haggle/Makefile.in
src/tests/test01/Makefile.in
src/utils/Makefile.in
src/haggletest/Makefile.in
src/experimental/Makefile.in
src/proxy/Makefile.in
src/clitool/Makefile.in
src/hagglekernel/Makefile.in
src/test-app/Makefile.in
src/webserver/Makefile.in
src/filedrop/Makefile.in
doc/Makefile.in
android/Makefile.in
###
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
###
src/bbs/.libs/*
src/clitool/.libs/*
src/filedrop/.libs/*
src/haggletest/.libs/*
src/haggletest/haggletest
src/luckyMe/.libs/*
src/proxy/.libs/*
src/repltest/.libs/*
src/repltest/gps_person
src/repltest/gps_test
src/test-app/.libs/*
src/test-app/test-pub
src/test-app/test-sub
src/tests/test01/.libs/*
src/webserver/.libs/*
###
bin/clitool
bin/haggle
bin/test-pub
bin/test-sub
###
android/Haggle/bin/
android/Haggle/gen/
android/Haggle/obj/
android/Haggle/proguard-project.txt
android/Haggle/project.properties
android/PhotoShare/bin/
android/PhotoShare/gen/
android/PhotoShare/proguard-project.txt
android/PhotoShare/project.properties
bin/Haggle-debug.apk
bin/PhotoShare-debug.apk
bin/gps_person
bin/gps_test
bin/haggletest
src/hagglekernel/git_ref.h
Makefile.in
out
